:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --font: "Outfit";
}

body{
    background-color: var(--Light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--font), sans-serif;
}

.card{
    background-color: var(--White);
    padding: 15px;
    width: 330px;
    border-radius: 20px;
}

.card:is(:focus-visible, :hover){
    transform: translateY(-2px);
    background-color: hsl(0, 0%, 96%);
}

.card .img{
    max-width: 100%;
    border-radius: 10px;
}

.container .heading-1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Dark-blue);
    text-align: center;
}

.container .container-text{
    font-size: 1rem;
    font-weight: 400;
    color: var(--Grayish-blue);
    text-align: center;
    letter-spacing: 0.1875px;
}


.attribution {
    margin-top: 1.25rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
